<template>
    <div>
        <div class="wrapper">
            <nav id="sidebar" class="sidebar">
                <a class="sidebar-brand" href="#">
                    <svg>
                        <use xlink:href="#ion-ios-pulse-strong"></use>
                    </svg>
                    <span class="text-success">R</span>eservatio<span class="text-success">N</span>
                </a>
                <div class="sidebar-content">
                    <div class="sidebar-user">
                        <img src="/images/logo.jpg" class="img-fluid rounded-circle mb-2" alt="" />
                        <div class="font-weight-bold">{{name}}</div>
                        <small>{{role}}</small>
                    </div>

                    <ul class="sidebar-nav">
                        <li class="sidebar-header">
                            Main
                        </li>
                        <li class="sidebar-item " :class="{ 'active': $route.path == '/home' }">
                            <router-link :to="{name:'home'}" href="#" data-toggle="collapse" class="sidebar-link">
                                <i class="align-middle mr-2 fas fa-fw fa-home"></i> <span class="align-middle">Dashboards</span>
                            </router-link>
                        </li>
                        <li class="sidebar-item" :class="{ 'active': $route.path == '/rooms' }">
                            <a href="#ui" data-toggle="collapse" class="sidebar-link collapsed">
                                <i class="align-middle mr-2 fas fa-fw fa-house-user"></i> <span class="align-middle">Rooms</span>
                            </a>
                            <ul id="ui" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                                <li class="sidebar-item"><router-link :to="{name:'rooms'}" class="sidebar-link" href="#">Rooms</router-link></li>
                                <li class="sidebar-item"><router-link to="/rooms/add"  class="sidebar-link" href="#">New Room</router-link></li>
                            </ul>
                        </li>
                        <li class="sidebar-item " :class="{ 'active': $route.path == '/bookings' }">
                            <router-link :to="{name:'bookings'}" href="#" data-toggle="collapse" class="sidebar-link">
                                <i class="align-middle mr-2 fas fa-fw fa-bookmark"></i> <span class="align-middle">Bookings</span>
                            </router-link>
                        </li>
                        <li class="sidebar-item " :class="{ 'active': $route.path == '/invoices' }">
                            <router-link :to="{name:'invoices'}" href="#" data-toggle="collapse" class="sidebar-link">
                                <i class="align-middle mr-2 fas fa-fw fa-money-bill"></i> <span class="align-middle">Invoices</span>
                            </router-link>
                        </li>
                        <li class="sidebar-item " :class="{ 'active': $route.path == '/photos' }">
                            <router-link :to="{name:'photos'}" href="#" data-toggle="collapse" class="sidebar-link">
                                <i class="align-middle mr-2 fas fa-fw fa-user"></i> <span class="align-middle">Profile</span>
                            </router-link>
                        </li>
                        <li class="sidebar-item " :class="{ 'active': $route.path == '/users' }">
                            <router-link :to="{name:'users'}" href="#" data-toggle="collapse" class="sidebar-link">
                                <i class="align-middle mr-2 fas fa-fw fa-users"></i> <span class="align-middle">Users</span>
                            </router-link>
                        </li>
                        <li class="sidebar-item " :class="{ 'active': $route.path == '/password' }">
                            <router-link :to="{name:'password'}" href="#" data-toggle="collapse" class="sidebar-link">
                                <i class="align-middle mr-2 fas fa-fw fa-key"></i> <span class="align-middle">Password</span>
                            </router-link>
                        </li>
                        <li class="sidebar-item ">
                            <a v-on:click="logout()"  data-toggle="collapse" class="sidebar-link">
                                <i class="align-middle mr-2 fas fa-fw fa-arrow-right"></i> <span class="align-middle">Sign out</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="main">
                <nav class="navbar navbar-expand navbar-theme" >
                    <a class="sidebar-toggle d-flex mr-2">
                        <i class="hamburger align-self-center"></i>
                    </a>

                    <form class="form-inline d-none d-sm-inline-block">
                        <input class="form-control form-control-lite" type="text" placeholder="Search ...">
                    </form>

                    <div class="navbar-collapse collapse">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown ml-lg-2">
                                <a class="nav-link dropdown-toggle position-relative" href="#" id="alertsDropdown" data-toggle="dropdown">
                                    <i class="align-middle fas fa-bell"></i>
                                    <span class="indicator"></span>
                                </a>
                                <!--<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right py-0" aria-labelledby="alertsDropdown">-->
                                    <!--<div class="dropdown-menu-header">-->
                                        <!--4 New Notifications-->
                                    <!--</div>-->
                                    <!--<div class="list-group">-->
                                        <!--<a href="#" class="list-group-item">-->
                                            <!--<div class="row no-gutters align-items-center">-->
                                                <!--<div class="col-2">-->
                                                    <!--<i class="ml-1 text-danger fas fa-fw fa-bell"></i>-->
                                                <!--</div>-->
                                                <!--<div class="col-10">-->
                                                    <!--<div class="text-dark">Update completed</div>-->
                                                    <!--<div class="text-muted small mt-1">Restart server 12 to complete the update.</div>-->
                                                    <!--<div class="text-muted small mt-1">2h ago</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</a>-->
                                    <!--</div>-->
                                    <!--<div class="dropdown-menu-footer">-->
                                        <!--<a href="#" class="text-muted">SAll notifications</a>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </li>
                            <li class="nav-item dropdown ml-lg-2">
                                <a class="nav-link dropdown-toggle position-relative" href="#" id="userDropdown" data-toggle="dropdown">
                                    <i class="align-middle fas fa-user"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                    <router-link to="/photos" class="dropdown-item" href="#"><i class="align-middle mr-1 fas fa-fw fa-user"></i> Profile</router-link>
                                    <router-link to="/password" class="dropdown-item" href="#"><i class="align-middle mr-1 fas fa-fw fa-cogs"></i> Password</router-link>
                                    <div class="dropdown-divider"></div>
                                    <a v-on:click="logout()" class="dropdown-item" href="#"><i class="align-middle mr-1 fas fa-fw fa-arrow-alt-circle-right"></i> Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </div>

                </nav>
                <main class="content" >
                    <div class="container-fluid">

                        <div class="header">
                            <h1 class="header-title">
                                Welcome back, {{name}}!
                            </h1>
                            <p class="header-subtitle text-success">{{hotel.toUpperCase()}}</p>
                        </div>

                            <router-view></router-view>

                    </div>
                </main>
            </div>

        </div>


    </div>
</template>
<script>
    export default {
        data() {
            return {
                name:'',
                auth:'',
                role:'',
                hotel:'',
            }
        },
        created(){
            this.name=localStorage.getItem('name');
            this.auth=localStorage.getItem('auth');
            this.role=localStorage.getItem('role');
            this.hotel=localStorage.getItem('hotel');
        },
        watch:{
            '$route' (to, from) {
                this.name=localStorage.getItem('name');
                this.auth=localStorage.getItem('auth');
                this.role=localStorage.getItem('role');
                this.hotel=localStorage.getItem('hotel');
            }
        },
        methods: {
            logout() {
                localStorage.removeItem('token');
                localStorage.removeItem('auth');
                localStorage.removeItem('role');
                this.$router.push({name: 'login'});
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }
        }
    }
</script>
