<template>
    <div>
        <main class="content">
            <div class="container-fluid">
        <transition name="fade">
            <router-view></router-view>

        </transition>
            </div>
        </main>
    </div>
</template>

