<template>
    <div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Add New Rooms</h5>
                    </div>

                    <form-wizard  :title="null" :subtitle="null" @on-complete="checkImages" finish-button-text="Submit" color="#1D4354">
                    <tab-content title="Room Information">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Room Name</label>
                                    <input class="form-control form-control-lg" v-model="message.name" type="text" name="email" required  />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-group ">
                                        <label for="">Number of rooms <i class="text-danger">*</i></label>
                                        <select class="form-control form-control-lg mb-3" v-model="message.rooms">
                                            <option selected disabled>Select rooms</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="gg">Number of beds <i class="text-danger">*</i></label>
                                    <select class="form-control form-control-lg mb-3" v-model="message.beds">
                                        <option selected disabled>Select beds</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Price (Ksh.)</label>
                                    <input class="form-control form-control-lg" v-model="message.price" type="number" name="email" required  />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Room descriptions </label>
                                    <vue-editor v-model="message.description" ></vue-editor>
                                </div>
                            </div>
                        </div>

                    </tab-content>
                        <tab-content title="Pictures">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Photos</label>
                                        <label class="btn btn-primary btn-block">
                                            <input type="file" id="file" v-on:change="onFileChange" style="display: none;" multiple="multiple" accept="image/*">
                                            <i class="fa fa-cloud-upload"> Select room photos (<span>{{attachments.length}} Photos selected</span>)</i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row  mt-5 justify-content-center">
                                    <div class="col-sm-3 image-container" v-for="(post,index) in attachments" :key="post.id">
                                        <button class="x" @click="removeItem(index)">
                                            X
                                        </button>
                                        <img :src="post.url"  class="img-upload">
                                    </div>
                                </div>
                            </div>
                        </tab-content>
                    </form-wizard>

                </div>
            </div>

        </div>


        <div id="progress" class="modal fade" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg ">
                <div class="modal-content">
                    <div class="modal-body">
                        <div v-if="status==='no'">
                            <div class="alert alert-success text-center" role="alert">
                                Your ad has been submitted successfully.We are saving your images
                            </div>
                            <div class="container mt-4">
                                <div class="row justify-content-center">
                                    <div class="col-sm-8">
                                        <div class="progress-outer">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                                <div class="progress-value"><span>{{percent}}</span>%</div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <p class="text-center mt-3">Saving images.Please wait..... {{percent}} %</p>

                            </div>
                        </div>
                        <div  v-if="status==='error'">
                            <div class="alert alert-danger text-center" role="alert">
                                An error occurred while uploading images.Check your internet connectivity or try again.
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-sm-8">
                                    <div class="d-flex mt-5">
                                        <button v-on:click="pushPhotos()" class="btn btn-info btn-block fa fa-refresh ">Reupload</button>
                                        <button v-on:click="Cancel()" class="btn btn-secondary btn-block fa fa-windows ml-2 ">Cancel this</button>
                                    </div>

                                    <p class="text-danger mt-5 text-center">{{error_message}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="container" v-if="status==='success'">
                            <div class="alert alert-success text-center" role="alert">
                                Photos uploaded Successfully
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-sm-4">
                                    <i class="fa fa-check-circle" style="font-size:48px;color:green"></i>
                                    <i class="fa fa-check-circle" style="font-size:48px;color:green"></i>
                                    <i class="fa fa-check-circle" style="font-size:48px;color:green"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import { VueEditor } from "vue2-editor";
    export default {
        name: 'App',
        components: {
            VueEditor
        },
        data(){
            return {
                percent:1,
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                wallet:'',
                attachments:[],
                files:{files:[],room_id:''},
                error_message:'',
                room_id: '',
                status:'no',
            }
        },
        created() {

        },
        methods: {
            pushPhotos(){
                this.error_message='';
                this.status='no';
                $("#progress").modal("show");
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                this.files.room_id=this.room_id;
                let uri =this.proxyUrl+`api/auth/pushPhotosForRoom`;
                this.axios.post(uri,this.files,{
                    headers: {
                        Authorization: 'Bearer '+localStorage.getItem('token')
                    },
                    onUploadProgress: function( progressEvent ) {
                        this.percent = parseInt( ''+Math.round( ( progressEvent.loaded / progressEvent.total ) * 100 ));
                        $('.progress-bar').css('width', this.percent+'%').attr('aria-valuenow', this.percen);
                    }.bind(this)
                }).then((response) => {
                    $('.card').loader('hide');
                    if(response.data.status){
                        this.files.files=[];
                        this.message={};
                        this.status='success';
                        this.percent=100;
                        this.attachments=[];
                        setTimeout(() => {
                            $("#progress").modal("hide");
                        }, 3000);

                    }else{
                        clearInterval(this.polling);
                        this.status='error';
                        this.error_message=response.data.message;
                    }
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'You have to sign in first!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.status='error';
                    }

                });
            },
            submitadd(){
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/saveRooms`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    if(response.data.status){
                         // this.$toast.open({message: response.data.message, type: 'info', position: 'top'});
                        this.room_id=response.data.room_id;
                        this.pushPhotos();
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            checkImages(){
                if(this.files.files.length===0){
                    this.$toast.open({message: 'Please upload at least one image', type: 'error', position: 'top'});
                }else{
                    this.submitadd();
                }
            },
            removeItem(id){
                this.attachments.splice(id, 1);
                this.files.files.splice(id, 1);
            },
            onFileChange(e){
                let files = e.target.files;
                if (!files.length) {
                    return false;
                }
                for (let i = 0; i < files.length; i++) {
                    let url = URL.createObjectURL(files[i]);
                    var item =({'url':url});
                    this.attachments.push(item);
                    this.createBase64Image(files[i]);
                }
            },
            createBase64Image(fileObject){
                const reader=new FileReader();
                reader.onload=(e)=>{
                    this.files.files.push(e.target.result);
                };
                reader.readAsDataURL(fileObject);
            },
            Cancel(){
                $("#progress").modal("hide");
            },

        }
    }
</script>
