<template>
    <div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <h5 class="float-left">Active Bookings</h5>
                            <div class="float-right" >
                                <input class="form-control" v-model="message.filterval" v-on:keyup="filter()"   type="text" name="email" placeholder="Search code,room name or client name"  />
                            </div>

                        </div>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Code</th>
                            <th>Room name</th>
                            <th>Client name</th>
                            <th>Client phone</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Status</th>
                            <th>Amount</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(data,index) in bookings">
                            <td>{{index+1}}</td>
                            <td>{{data.booking_code}}</td>
                            <td>{{data.name}}</td>
                            <td>{{data.client_name}}</td>
                            <td>{{data.client_phone}}</td>
                            <td>{{data.date}}</td>
                            <td>{{data.todate}}</td>
                            <td v-if="data.booking_status==='ACTIVE'" class="text-success">{{data.booking_status}}</td>
                            <td v-else class="text-warning">{{data.booking_status}}</td>
                            <td>Ksh.{{formatPrice(data.amount)}}</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn mb-1 btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                        Actions
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" v-if="data.booking_status==='ACTIVE'" href="#" v-on:click="ShowConfirmModal(data.id,data.name,'OCCUPIED')">Admit Guest</a>
                                        <a v-if="data.booking_status==='OCCUPIED'" class="dropdown-item" href="#" v-on:click="ShowConfirmModal(data.id,data.name,'USED')">Sign out Guest</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item text-warning" href="#" v-if="data.booking_status==='ACTIVE'" v-on:click="ShowConfirmModal(data.id,data.name,'NO SHOW')">Mark as 'No Show'</a>
                                        <a class="dropdown-item text-danger" href="#" v-if="data.booking_status==='ACTIVE'" v-on:click="ShowConfirmModal(data.id,data.name,'CANCELLED')">CANCEL'</a>
                                    </div>
                                </div>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal fade" id="confirm" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal" aria-hidden="true"><span class="mdi mdi-close"></span></button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <div class="text-success"><span class="modal-main-icon mdi mdi-edit"></span></div>
                            <h3>Confirm</h3>
                            <h5 v-if="message.status==='OCCUPIED'">Are you sure you want to admin guest in room <span class="text-success">{{message.name}}</span> ?</h5>
                            <h5 v-else-if="message.status==='USED'">Are you sure you want to sign out guest from room <span class="text-primary">{{message.name}}</span> ?</h5>
                            <h5 v-else>Are you sure you want to mark this room as  <span class="text-danger">{{message.status}}</span> ?</h5>


                                <div class="mt-8">
                                    <button class="btn btn-space btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                    <button  class="btn btn-space btn-success" type="button" v-on:click="changeBookingStatus()">Proceed</button>
                                </div>
                        </div>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import { VueEditor } from "vue2-editor";
    export default {
        name: 'App',
        components: {
            VueEditor
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                bookings:[],
                bookings2:[],
                message:{id:'',name:'',status:''},

            }
        },
        created() {
            setTimeout(() => {
                this.getBookingsHotel();
            }, 1000);
        },
        methods: {
            ShowConfirmModal(id,name,status){
                this.message.id=id;
                this.message.name=name;
                this.message.status=status;
                $('#confirm').modal('show');
            },
            changeBookingStatus(){
                $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/changeBookingStatus/${this.message.id}`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.modal-content').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        this.getBookingsHotel();
                        $('#confirm').modal('hide');
                    }
                }).catch(error => {
                    $('.modal-content').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            getBookingsHotel(){
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/getBookingsHotel`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    this.bookings=response.data.bookings;
                    this.bookings2=response.data.bookings;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            filter(){
                let filterval=this.message.filterval;
                if(filterval==='' || filterval===null){
                    this.bookings=this.bookings2;
                }else{
                    let ads =  this.bookings2.filter(function(product) {
                        return product.name.toLowerCase().includes(filterval.toLowerCase()) || product.booking_code.toLowerCase().includes(filterval.toLowerCase()) || product.client_name.toLowerCase().includes(filterval.toLowerCase())
                    });
                    this.bookings=ads;
                }
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }



        }
    }
</script>
