<template>
    <div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Rooms</h5>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th >#</th>
                            <th >Name</th>
                            <th >Beds</th>
                            <th >Rooms</th>
                            <th>Price</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(data,index) in rooms">
                            <td>{{index+1}}</td>
                            <td>{{data.name}}</td>
                            <td>{{data.beds}}</td>
                            <td>{{data.rooms}}</td>
                            <td>Ksh. {{formatPrice(data.price)}}</td>
                            <td><a v-on:click="EditPage(data.uuid)" class="btn btn-warning"><i class="fas fa-edit"></i></a> </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

    </div>
    </div>
</template>
<script>
    import { VueEditor } from "vue2-editor";
    export default {
        name: 'App',
        components: {
            VueEditor
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                rooms:[],
                message:{},

            }
        },
        created() {
            setTimeout(() => {
                this.getMyRooms();
            }, 1000);
        },
        methods: {
            showMoal(status){
                this.message.status=status;

            },
            ChangeRoomStatus(){

            },
            EditPage(uuid){
                this.$router.push({name: 'editroom',params:{id:uuid}});
            },
            getMyRooms(){
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/getMyRooms`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    this.rooms=response.data.rooms;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }



        }
    }
</script>
