<template>
    <div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <h5 class="float-left">Invoices</h5>
                            <div class="float-right" >
                                <input class="form-control" v-model="message.filterval" v-on:keyup="filter()"   type="text" name="email" placeholder="Search"  />
                            </div>

                        </div>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Hotel Name</th>
                            <th>Invoice No</th>
                            <th>Amount</th>
                            <th>Created at</th>
                            <th>Records</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(data,index) in bookings">
                            <th>{{index+1}}</th>
                            <td>{{data.hotel_name}}</td>
                            <td>{{data.invoice_no}}</td>
                            <td>ksh.{{formatPrice(data.amount)}}</td>
                            <td>{{data.created_at}}</td>
                            <td>{{data.records}}</td>
                            <td v-if="data.status==='PENDING'" class="text-success">{{data.status}} </td>
                            <td v-else class="text-danger">{{data.status}} </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</template>
<script>
import { VueEditor } from "vue2-editor";
export default {
    name: 'App',
    components: {
        VueEditor
    },
    data(){
        return {
            proxyUrl: process.env.MIX_APP_URL,
            bookings:[],
            bookings2:[],
            message:{id:'',name:'',status:''},

        }
    },
    created() {
        setTimeout(() => {
            this.getData();
        }, 1000);
    },
    methods: {
        getData() {
            $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            let uri =this.proxyUrl+`api/auth/getInvoicesHotel`;
            this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                $('.card').loader('hide');
                this.bookings=response.data.invoices;
                this.bookings2=response.data.invoices;
            }).catch(error => {
                $('.card').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }

            });

        },
        filter(){
            let filterval=this.message.filterval;
            if(filterval==='' || filterval===null){
                this.bookings=this.bookings2;
            }else{
                let ads =  this.bookings2.filter(function(product) {
                    return product.name.toLowerCase().includes(filterval.toLowerCase()) || product.booking_code.toLowerCase().includes(filterval.toLowerCase()) || product.client_name.toLowerCase().includes(filterval.toLowerCase())
                });
                this.bookings=ads;
            }
        },
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        }



    }
}
</script>
