<template>
<div>
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-sm-4">
        <div class="card card-container ">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="/images/logo.jpg" />
            <p class="text-center">Sign in</p>
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" v-on:submit.prevent="login()">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" v-model="message.email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <input type="password" v-model="message.password" id="inputPassword" class="form-control" placeholder="Password" required>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            </form><!-- /form -->
            <div class="d-flex">
                <router-link to="/register" href="#" class="forgot-password mr-3">
                    Register hotel
                </router-link>
                <router-link to="/forget" href="#" class="forgot-password">
                    Forget password?
                </router-link>
            </div>


        </div><!-- /card-container -->
    </div><!-- /container -->
        </div>
    </div>
</div>
</template>
<script>
    export default {
        name: 'App',
        components: {
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                wallet:'',
            }
        },
        created() {

        },
        methods: {
            login() {
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/login`;
                this.axios.post(uri, this.message).then((response) => {
                    $('.card').loader('hide');
                    if(response.data.status){
                        if(response.data.user.status==='Active') {
                            if (response.data.user.user_type === 'hotel') {
                                localStorage.setItem('token', response.data.access_token);
                                localStorage.setItem('name', response.data.user.name);
                                localStorage.setItem('role', response.data.user.role);
                                localStorage.setItem('auth', 'yes');
                                localStorage.setItem('hotel', response.data.hotel.hotel_name);
                                this.$toast.open({message: 'Success login', type: 'success', position: 'top'});
                                this.$router.push({name: 'home'});
                                if(response.data.user.password_changed==='NO'){
                                    this.$toast.open({message: 'Please update your password', type: 'info', position: 'top'});
                                    this.$router.push({name: 'password'});
                                }else{
                                    this.$toast.open({message: 'Success login', type: 'success', position: 'top'});
                                    this.$router.push({name: 'home'});
                                }

                            } else {
                                this.$toast.open({message: 'Unauthorised access', type: 'error', position: 'top'});
                            }
                        }else{
                            this.$toast.open({message: 'Inactive account, contact support', type: 'error', position: 'top'});
                        }
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.card').loader('hide');
                    localStorage.removeItem('token');
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                });

            },

        }
    }
</script>
