<template>
    <div>

        <div class="row justify-content-center">
            <div class="col-12 col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Change password</h5>
                        <h6 class="card-subtitle text-muted">Please change password.</h6>
                    </div>
                    <div class="card-body">
                        <form v-on:submit.prevent="updatePassword()">
                            <div class="form-group">
                                <label class="form-label">Current password</label>
                                <input type="password" class="form-control" v-model="message.currentpass"  placeholder="Current password" required>
                            </div>
                            <div class="form-group">
                                <label class="form-label">New password</label>
                                <input type="password" class="form-control" v-model="message.password" placeholder="New password" required>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Confirm password</label>
                                <input type="password" class="form-control" v-model="message.repass" placeholder="Confirm" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'App',
        components: {
        },
        data(){
            return {

                proxyUrl: process.env.MIX_APP_URL,
                message:{},
            }
        },
        created() {

        },
        methods: {

            updatePassword(){
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/updatePassword`;
                this.axios.post(uri,this.message, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});

                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }

                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },

            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },


        }
    }
</script>
