<template>
    <div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Hotel Profile</h5>
                    </div>

                    <form-wizard  :title="null" :subtitle="null" @on-complete="updateHotelProfile" finish-button-text="Update" color="#1D4354">
                        <tab-content title="Hotel Information">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Hotel Name</label>
                                        <input class="form-control form-control-lg" v-model="message.hotel_name" type="text" name="email" required  />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-group ">
                                            <label for="">Country <i class="text-danger">*</i></label>
                                            <country-select v-model="message.country" :country="message.country" topCountry="KE"   class="form-control form-control-lg"></country-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">Region <i class="text-danger">*</i></label>
                                        <region-select  v-model="message.region" :country="message.country" :region="message.region"  :regionName=true defaultRegion="KE" class="form-control form-control-lg"></region-select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Location</label>
                                        <input class="form-control form-control-lg" v-model="message.location" type="text" name="email"  />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Contact </label>
                                        <input class="form-control form-control-lg" v-model="message.contact" type="text" name="email"  />
                                    </div>
                                </div>
                            </div>

                        </tab-content>
                        <tab-content title="Personal details">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Full name </label>
                                        <input class="form-control form-control-lg" v-model="message.name" type="text" name="email"  required/>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Email </label>
                                        <input class="form-control form-control-lg" v-model="message.email" type="email" name="email" required />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Phone no. </label>
                                        <vue-tel-input v-model="message.phone" v-bind="bindProps"></vue-tel-input>
                                    </div>
                                </div>

                            </div>

                        </tab-content>
                        <tab-content title="Hotel Photos">
                            <div class="row justify-content-center">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="btn btn-primary btn-block">
                                            <input type="file" id="file" v-on:change="onFileChange" style="display: none;" multiple="multiple" accept="image/*">
                                            <i class="fa fa-cloud-upload"> Select hotel photos (<span>{{attachments.length}} Photos selected</span>)</i>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="container">
                                <div class="row  mt-5 justify-content-center">
                                    <div class="col-sm-3 image-container" v-for="(post,index) in attachments" :key="post.id">
                                        <button class="x" @click="removeItem(index)">
                                            X
                                        </button>
                                        <img :src="post.url"  class="img-upload">
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row  mt-5 align-content-center">
                                    <div class="col-sm-3 image-container" v-for="(post,index) in pics" :key="post.id">
                                        <button class="x" v-on:click="removeImage(post.id)">
                                            X
                                        </button>
                                        <img :src="proxyUrl+'/storage/Hotels/'+post.url"  class="img-upload">
                                    </div>
                                </div>
                            </div>
                        </tab-content>

                    </form-wizard>
                </div>
            </div>
        </div>


        <div id="progress" class="modal fade" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg ">
                <div class="modal-content">
                    <div class="modal-body">
                        <div v-if="status==='no'">
                            <div class="alert alert-success text-center" role="alert">
                                Your ad has been submitted successfully.We are saving your images
                            </div>
                            <div class="container mt-4">
                                <div class="row justify-content-center">
                                    <div class="col-sm-8">
                                        <div class="progress-outer">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                                <div class="progress-value"><span>{{percent}}</span>%</div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <p class="text-center mt-3">Saving images.Please wait..... {{percent}} %</p>

                            </div>
                        </div>
                        <div  v-if="status==='error'">
                            <div class="alert alert-danger text-center" role="alert">
                                An error occurred while uploading images.Check your internet connectivity or try again.
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-sm-8">
                                    <div class="d-flex mt-5">
                                        <button v-on:click="pushPhotosForHotel()" class="btn btn-info btn-block fa fa-refresh ">Reupload</button>
                                        <button v-on:click="Cancel()" class="btn btn-secondary btn-block fa fa-windows ml-2 ">Cancel this</button>
                                    </div>

                                    <p class="text-danger mt-5 text-center">{{error_message}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="container" v-if="status==='success'">
                            <div class="alert alert-success text-center" role="alert">
                                Photos uploaded Successfully
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-sm-4">
                                    <i class="fa fa-check-circle" style="font-size:48px;color:green"></i>
                                    <i class="fa fa-check-circle" style="font-size:48px;color:green"></i>
                                    <i class="fa fa-check-circle" style="font-size:48px;color:green"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import { VueEditor } from "vue2-editor";
    export default {
        name: 'App',
        components: {
            VueEditor
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                pics:[],
                attachments:[],
                files:{files:[],hotel_id:''},
                error_message:'',
                hotel_id: '',
                status:'no',
                percent:'1',
                message:{country: '', region: ''},
                wallet:'',
                bindProps: {
                    mode: "international",
                    disabledFetchingCountry: false,
                    disabled: false,
                    disabledFormatting: false,
                    placeholder: "Enter a phone number",
                    required: false,
                    enabledCountryCode: true,
                    enabledFlags: true,
                    maxLen: 25,
                    wrapperClasses: "",
                    inputClasses: "",
                    dropdownOptions: {
                        disabledDialCode: false
                    },
                    inputOptions: {
                        showDialCode: true
                    }
                },
            }
        },
        created() {
            setTimeout(() => {
                this.getHotelPhotos();
            }, 1000);
        },
        methods: {
            updateHotelProfile(){
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/updateHotelProfile`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                   if(response.data.status){
                       this.pushPhotosForHotel();
                   }
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            pushPhotosForHotel(){
                this.error_message='';
                this.status='no';
                $("#progress").modal("show");
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                this.files.hotel_id=this.hotel_id;
                let uri =this.proxyUrl+`api/auth/pushPhotosForHotel`;
                this.axios.post(uri,this.files,{
                    headers: {
                        Authorization: 'Bearer '+localStorage.getItem('token')
                    },
                    onUploadProgress: function( progressEvent ) {
                        this.percent = parseInt( ''+Math.round( ( progressEvent.loaded / progressEvent.total ) * 100 ));
                        $('.progress-bar').css('width', this.percent+'%').attr('aria-valuenow', this.percen);
                    }.bind(this)
                }).then((response) => {
                    $('.card').loader('hide');
                    if(response.data.status){
                        this.files.files=[];
                        this.status='success';
                        this.attachments=[];
                        setTimeout(() => {
                            $("#progress").modal("hide");
                           this.getHotelPhotos();
                        }, 3000);

                    }else{
                        this.status='error';
                        this.error_message=response.data.message;
                    }
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'You have to sign in first!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.status='error';
                    }

                });
            },
            getHotelPhotos(){
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/getHotelPhotos`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    this.pics=response.data.pics;
                    this.message=response.data.data[0];
                    this.hotel_id=response.data.hotel_id;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            removeImage(id){
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/removeImageForHotel/${id}`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    if(response.data.status){
                        $('.card').loader('hide');
                        this.getHotelPhotos();
                    }
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            removeItem(id){
                this.attachments.splice(id, 1);
                this.files.files.splice(id, 1);
            },
            onFileChange(e){
                let files = e.target.files;
                if (!files.length) {
                    return false;
                }
                for (let i = 0; i < files.length; i++) {
                    let url = URL.createObjectURL(files[i]);
                    var item =({'url':url});
                    this.attachments.push(item);
                    this.createBase64Image(files[i]);
                }
            },
            createBase64Image(fileObject){
                const reader=new FileReader();
                reader.onload=(e)=>{
                    this.files.files.push(e.target.result);
                };
                reader.readAsDataURL(fileObject);
            },
            Cancel(){
                $("#progress").modal("hide");
            },


        }
    }
</script>
